@import "../styles/setting.scss";

.card {
    border: 1px solid #ccc;
    padding: 15px;
    max-width: 980px;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    &__heading {
        display: flex;
        align-items: center;
        > img {
            width: 50px;
            height: auto;
            border: 1px solid #ccc;
            border-radius: 50%;
            overflow: hidden;
        }
        > h1 {
            margin-left: 10px;
            font-size: 20px;
        }
    }
    &__edit {
        border: 0;
        text-align: center;
        padding: 0 12px 15px;
        border-radius: 3px;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        background: #ffffff;
        letter-spacing: .2em;
    }
    &__desc {
        margin-top: 10px;
    }
    &__list {
        margin-top: 10px;
        > li {
            margin-top: 5px;
        }
    }
}