@import "../styles/setting.scss";

.card {
    border: 1px solid #ccc;
    padding: 15px;
    &__header {
        display: flex;
        align-items: center;
        img {
            width: 50px;
            height: auto;
            border: 1px solid #ccc;
            border-radius: 50%;
            overflow: hidden;
        }
        h1 {
            margin-left: 10px;
            font-size: 20px;
        }
    }
    &__desc {
        margin-top: 10px;
    }
}