@import "../styles/setting.scss";

.card {
    border: 1px solid #ccc;
    padding: 15px;
    position: relative;
    max-width: 980px;
    max-height: 1000px;
    transition: 
        max-width 0.25s ease-in-out,
        max-height 0.25s ease-in-out;

    $p: &;

    &__cover {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    &__heading {
        display: flex;
        align-items: center;
        > img {
            width: 50px;
            height: auto;
            border: 1px solid #ccc;
            border-radius: 50%;
            overflow: hidden;
        }
        > h1 {
            margin-left: 10px;
            font-size: 20px;
        }
    }
    &__edit {
        border: 0;
        text-align: center;
        padding: 0 12px 15px;
        border-radius: 3px;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        background: #ffffff;
        letter-spacing: .2em;
    }
    &__desc {
        margin-top: 10px;
    }
    &__list {
        margin-top: 10px;
        > li {
            margin-top: 5px;
        }
    }
    &__seal {
        background-color: #707070;
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: 0;
        width: 150px;
        height: 150px;
        transform: rotate(60deg) translate(115px, 4px);

        > span {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 60%;
            top: 25%;
            border-right: 3px solid #fff;
            transform: rotate(75deg);
            border: 10px solid transparent;
            border-bottom: 10px solid #fff;
        }
    }

    //State
    &.isClose{
        max-width: 300px;
        max-height: 196px;
        overflow: hidden;

        #{$p}__desc {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        
        #{$p}__desc {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}