@import "../styles/setting.scss";

.hero {
    text-align: center;
    
    &__logo {
    }
    &__headline {
        margin-top: 20px;
        color: #666;
        font-size: 120px;
    }
    &__desc {
        margin-top: 20px;

    }
    &__button {
        margin-top: 40px;
    }
}